body {
text-align: left;
font-family: 'Merriweather', serif; /* First styles font in verdana font, then styles any fonts not supported in the default san
serif style, stick to "web safe fonts" for maximum render correctness*/
}
.skills {
  margin-left: auto;
  margin-right: auto;
  width: auto;  
}
.indexbody {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif; /* First styles font in verdana font, then styles any fonts not supported in the default san
  serif style, stick to "web safe fonts" for maximum render correctness*/
}
.company-link {
  padding-top: 5px;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin-top: 50px;
  margin-bottom: 0;
  
}

h2 {
  font-weight: normal;
    
  }
h3 {
  font-family: 'Montserrat', sans-serif;
}

.footer-link {
  color: #c7a591;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #54463e;
}

.spacer {
  margin: 100px auto;
}

ol, ul {
  margin: 10px 0;
  padding-left: 20px;
}

hr {
border: dotted #EAF6F6 6px;
border-bottom: none;
width: 4%;
margin: 75px auto;
}

a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #54463e;
}
a:hover {
  text-decoration: none;
  color: #c7a591;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px ;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

li {
  list-style: disc;
}

.introanchor {
  font-style: italic;
}

p {
  line-height: 2;
}

.alex {
  width: 20%;
  border-radius: 200px;
}

.copyright {
  color: #D0B8A8;
  font-size: 0.75rem;
  padding: 20px 0;
}

html, body {
  height:100%;
}

.intro {
  width: 50%;
  margin: auto;
}

.top-container {
  background-color: #F8EDE3;
  height: 100%;
  position: relative;
  padding-top: 200px;
  padding-bottom: 100;
}
.middle-container {
  padding-top: 70px;
}
.profile {
  margin-bottom: 50px;
}

.middle-container-header {
  margin-top: 30px;
}

.skill-row {
  width: 50%;
  margin: 30px auto 100px auto;
  text-align: left;
}

.contact-me {
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}


.bottom-container {
margin: 0;
text-align: center;
font-family: 'Merriweather', serif; /* First styles font in verdana font, then styles any fonts not supported in the default sanserif style, stick to "web safe fonts" for maximum render correctness*/
background-color: #F8EDE3;
padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 100px;
}
.cloud3 {
  position: absolute;
  right: 450px;
  bottom: 350px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  top: 200px
}

.mountain {
  position: relative;
  width: 100%;
  margin-top: 0;
  display: inline;
}

.btn {
  background: #D0B8A8;
  background-image: -webkit-linear-gradient(top, #D0B8A8, #D0B8A8);
  background-image: -moz-linear-gradient(top, #D0B8A8, #D0B8A8);
  background-image: -ms-linear-gradient(top, #D0B8A8, #D0B8A8);
  background-image: -o-linear-gradient(top, #D0B8A8, #D0B8A8);
  background-image: linear-gradient(to bottom, #D0B8A8, #D0B8A8);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #DFD3C3;
  background-image: -webkit-linear-gradient(top, #DFD3C3, #DFD3C3);
  background-image: -moz-linear-gradient(top, #DFD3C3, #DFD3C3);
  background-image: -ms-linear-gradient(top, #DFD3C3, #DFD3C3);
  background-image: -o-linear-gradient(top, #DFD3C3, #DFD3C3);
  background-image: linear-gradient(to bottom, #DFD3C3, #DFD3C3);
  text-decoration: none;
}

.programming1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.programming2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.workexperience {
  font-family: Arial, sans-serif;
  margin: 20px;
}

